@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
header{
    display: flex;
    background-color: #D47C31;
    gap: 650px;
}
header img{
    width: 70px;
}
/*Aqui inicia la sección de menude navegación*/
nav{
    max-width: 900px;
    margin: auto;
    font-size: 15px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.menu-horizontal > li > a{
    display: block;
    padding: 22px;
    color: #faf3fa;
    text-decoration: none;
}
.menu-horizontal > li > a:hover{
    color: #0e0d0d;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #281513;
}
.menu-vertical li a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li>:hover{
    background-color: #D47C31;
}
/*Aqui es la sección para el desarrolo de la receta*/
main{
    background-color: #EAE2B7;
    margin: 100px 150px;
    box-shadow: 4px 10px 6px black;
}
.title{
    display: block;
    text-align: center;
    padding-top: 40px;
}
.title h1{
    border-bottom: 2px inset #D47C31;
    margin: 0 55px;
}
.title p{
    border-top: 2px inset #D47C31;
    margin: 0 55px;
}
.title img{
    margin: 30px;
    border-radius: 50% / 20%;
}
.food-2{
    display: flex;
    justify-content: baseline;
    gap: 50px;
    text-align: start;
    margin: 50px;
    padding-bottom: 100px;
}
.ingredients{
    background-color: #7a3900bd;
    padding: 30px 50px;
}
.ingredients h2{
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.ingredients h3{
    color: #490000;
    margin: 10px;
}
.ingredients li{
    color: white;
}
.preparation h2{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.preparation h3{
    margin: 20px 0;
}
.preparation li{
    margin: 8px;
}
/*Aqui inicia la sección de footer*/
footer{
    background-color: #D47C31;
    padding: 30px;
    display: flexbox;
    justify-content: end;
    text-align: center;
}